@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #2563eb;
}

::-webkit-scrollbar {
  width: 0px;
}

.link-underline {
  padding-top: 5px;
  border-bottom-width: 0;
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}
